.logo-scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%
}

.logo svg{
    max-height: 100%;
    top: 0;
    left: 0;
    transform: none;
  }


.intro-left-column {
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: none;
  }

  h1.center {
    top: 40%;
    left: 25%;
    font-size: 1.3em;
    transform: none;
    width: 100%;
  }