<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Olga Geletina porfolio test</title>
	<link href="style.css" rel="stylesheet">
</head>
<body>
<section class="intro">  
  <div class="content-narrow">
  	<br>
  	<br>
  	<br>
    <h1>If a tapestry could speak for itself, what would it say?</h1>
 </div>
</section>
<section>  
  <div class="title">
    <h2>Textiles of today: a retrospect</h2>
    </div>
</section>
<section-narrow>
    <div class="column-right">
    <p>This research proposes to partner with
weavers in developing countries, particularly
in communities where weaving culture is associated with marginalization of women,
on producing a smart textile technology using traditional practice. Its purpose is to replace the alienation typically associated with complex systems with transparency, yet remain firm and uncompromising on the extended functionality of a ‘smart object.’ Working from the central concept of memory as it relates to tradition, the objects will retain “their identity” in digital data and physical form. <br><br>

My goal is to create artifacts with two practical purposes: a Near Field Communication (NFC)
tag – a passive device which is found in Apple Pay and phone-to-phone communication, and fabric swatches incorporating different weaving patterns and traditional motifs with thread containing shape-memory alloy (SMA) wire. SMA is a material that “remembers” its predetermined shape to which, after deformation, it returns to when heated. <br><br>

Expanding on the idea of thread as one of the earliest transmitters of meaning, traditionally serving key functions liked to memory such as bookkeeping and recording of history, the project elaborates on the concept by 888 bytes and a few centimeters. <br><br><br><br>

</p>	
    </div>
	<div class="column-left">
	<p> <strong>Thesis project </strong><br> 
		Harvard Graduate School of Design <br>
		<br> 
		<strong>Advisor </strong><br>
		Panagiotis Michalatos <br>
		<br> 
		<strong>Year </strong><br>
		2017 <br>
		<br> 
		<strong>Elements</strong> <br>
		Electronics <br>	
		Smart textiles <br>
		Documentary	<br>
		Interfaces <br>
		<br> 
		<strong>Geography</strong> <br>
		Morocco <br>
	</p>
 </div>
</section-narrow>
<section-narrow class="highlight">
	<h1>SMA fabric</h1>
	<p>Behind the physical memory of the object is SMA actuated fabric which will respond to environmental cues (potentially using solar energy for operation), contorting based on the underlying structure of the textile. The principle motifs for investigation include an array of textile methods (crochet, knit and weft),  ber pairings (cotton, wool, linen), and thermochromatic thread. Additional investigation may consider integration of peltier cooler to shorten actuation time.</p> <br><br>
</section-narrow>

<section class="highlight">
	<img class="horizontal" src="img/SMA.png" alt="">
	<br><br><br><br><br>
</section>
<section-narrow>
	<h1>NFC tag</h1>
	<p>NFC works on the principle of sending information over radio waves at of 13.56 MHz. The main components of this circuit are the antenna and chip, this enables the device to induce electric currents within its passive components during contact with magnetic field generated by an NFC reader (e.g. a smart phone).</p> <br><br>
</section-narrow>
<section-narrow>
	<div class="column-right"> 
		<img class="vertical" src="img/NFC.png" alt="">
		<br><br><br><br><br>
	</div>
</section-narrow>
<section class="highlight">
	<img class="horizontal" src="img/morocco-map.png" alt="">
	<h2>Sirwan weavers are almost exclusively women, but men typically control the textile trade and its financial gains</h2>
</section>
</body>
</html>


<!---
layout: greyPage
-
<div class="container main">


{% for theme_item in site.theme %}

	{% assign col_item = forloop.index | modulo: 5 %}

	{% if col_item == 0 %}
		{% assign col = 5 %}
	{% else %}
		{% assign col = col_item %}
	{% endif %}

		<div class="section col-{{ col }} themeMain">
		 	<a href="{{ theme_item.url }}.html"><div class="section themeContent">
				<h3 class ="themeTitle">{{ theme_item.issue }}</h3>
				<div class="clear"></div>
				<p class ="themeCollaborators"> <strong> {{ theme_item.artist_name }} <br>
				{{ theme_item.organization_name }}</strong></p>
			</div></a>
		 	<a href="{{ theme_item.url }}.html" class="image"><img src="{{ theme_item.image_path }}" alt="{{ theme_item.issue }} : {{ theme_item.artist_name }}  and {{ theme_item.organization_name }}"></a>
		</div>

{% endfor %}

<br>

<div class="section col-1-5">
	<div class="rule"></div>
</div>

<br><br><br> 

</div> 
 -->