@import url('https://fonts.googleapis.com/css?family=Anton|Libre+Baskerville:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:400,300,500,600,700,800,900,100,200');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; 
}

body {
  margin: 0;
}


section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  /*background-color: #373B44;*/
  
  /*&:nth-of-type(2n) {
    background-color: #FE4B74;
  }*/
}

section-narrow {
  width: 100%;
  padding: 0 20%;
  display: table;
  margin: 0;
  max-width: none;
  /*background-color: #373B44;*
  
  /*&:nth-of-type(2n) {
    background-color: #FE4B74;
  }*/
}


/*iframe {
  width: 100%;
}*/

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
}


.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}


.intro {
  height: 90vh;
  /*background-color: #dad3cb;*/
  overflow: hidden;
}


.test {
  background-position: center;
  top: 0;
  bottom: 0;
  width: 100%;
}

.highlight {
  background-color: #dad3cb;
  height: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

.title {
  display: table-cell;
  vertical-align: top;
}

.column-right {
  display: table-cell;
  width: 60%;
  vertical-align: top;
}

.column-left {
  display: table-cell;
  padding-left: 50px;
  width: 30%;
  vertical-align: top;
}

.intro-left-column {  
  position: absolute;
  width: 25%;
  padding:  50px;
  top: 45%;
  left: 60%;
  z-index: -2;
  background-color: #dad3cb;
  /*border: 3px solid #434343;*/
}

.intro-left-column p{ 
  font-family: 'Libre Baskerville';
  font-weight: 400;
  /*color: white;*/
  font-size: 15px;
}

h1 {
  font-family: 'Anton';
  font-size: 4em;
  display: block;
  color: #434343;
  font-weight: 300;
  margin-bottom: 0;
}


h1.white {
  color: #ffffff;
}

h2 {
  font-family: 'Libre Baskerville';
  font-size: 55px;
  display: block;
  font-weight: 400;
  color: #434343;
  text-align: center;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #434343;
  margin: 0;
  font-weight: 300;
}

strong {
  font-family: 'Anton';
  font-weight: 300;
  text-transform: uppercase;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
  
  &:hover{ 
    opacity: 0.8;
  }
  
  &:active {
    top: 1px;
  }
}

img.vertical {
  width: auto;
  max-height: 100vh;  
}


.logo { 
  align-items: center;
  height: 100%;
  /*text-align: center;*/
}

.fa, .fab {
  color: white; /*#434343*/
  padding-right: 10px;
  padding-top: 20px;
  font-size: 1.5em;
}

h1.center {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.25em;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rule {
  height: 3pt;
  background-color: white;
  width: 100%;
}


.logo svg{
  width: auto;
  max-height: 40%; 
  position: absolute;
  top: 10%;
}

#underline{
  position: relative;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;


  -webkit-animation: uline 2.5s linear forwards;

  animation: uline 2.5s linear forwards;
}

@-webkit-keyframes uline {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes uline {
  to {
    stroke-dashoffset: 0;
  }
}

.st0{
  opacity:0.7;
  fill:#3AC6F4;
}

.st1{
  fill:#FFFFFF;
}

.st2{
  fill:none;
  stroke:#FFFFFF;
  stroke-width:6.4054;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

img.horizontal {
  width: 100%;
}

@media all and (max-width: 903px) and (min-width: 727px) {

  .column-right {
    width: 100%;
    display: inline-block;
  }


}


@media all and (max-width: 726px) and (min-width: 481px) and (orientation : portrait) {
  
  .intro{
    height: 70vh;
  }

  img.vertical {
  max-width: 100%;
  } 

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }

    .column-right {
    width: 100%;
    display: inline-block;
  }

   .column-left {
    width: 100%;
    display: inline-block;
    margin-bottom: 3em;
    padding: 0;
  }

  .logo svg{
    width: 50%;
    height: auto;
    max-height: none;
    left: 25%;
  }

  .intro-left-column {
    width: 50%;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1.center {
    top: 25%;
  }

}


@media all and (max-width: 480px) and (min-width: 320px)  and (orientation : portrait) { 
  
  .intro{
    height: 70vh;
  }

  img.vertical {
  max-width: 100%;
  }  

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }

  .column-right {
    width: 100%;
    display: inline-block;
  }

  .column-left {
    width: 100%;
    display: inline-block;
    margin-bottom: 3em;
    padding: 0;
  }




}


/*footer {
  background-color: #908f8f;
  width: 100%;

}

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;
  
  a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
  }
}*/