.logo svg{
    max-height: none;
    width: 100%;
    /*height: auto;*/
    /*max-height: 55%;*/
    left: 0;
    top: 0;
  }

  .intro-left-column {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  h1.center {
    top: 22%;
    font-size: 20px;
  }


@media all and (max-width: 1024px) and (min-width: 481px) {

  .logo svg{
    top: 10%;
    width: 50%;
    height: auto;
    max-height: none;
    left: 25%;
  }

  .intro-left-column {
    width: 50%;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1.center {
    top: 32%;
  }

}



  /*@media all and (max-width: 480px) and (min-width: 320px) { */
  
 /* .logo svg{
    height: auto;
    max-height: none;
    left: 5%;
    top: 5%;
  }*/

 /* .intro-left-column {
    width: 90%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }*/

/*  h1.center {
    top: 25%;
    font-size: 1.5em;
  }*/



/*}*/