@media all and (max-width: 1330px) and (min-width: 1180px) {

  header.boxed .header-margin{
    width:1000px;
  }

  .content .text-intro{
    width:1000px;
  }

  .footer-margin{
    width:1000px;
  }

  .content .text-intro h1, .content .text-intro p{
    width: 70%;
  }

  .two-column-intro p{
  width: 70% !important;
  }

  .vid1 iframe, .vid2 iframe{
    width: 400px;
    height: 225px;
  }

  #full{
    width:1000px;
  }

  .prev-next{
    max-width:1000px;
  }

  /*
  **************************
  Skill set
  **************************
  */
  .skills-diagram {
    font-size: 14px;
    /*margin: 2em auto;*/
    width:  90%;
  }
  .skills-diagram dt {
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transform: scale(1.2);
  }

  .skills-diagram .skill-1 {
    background-color: rgba(1, 1, 1, .3);
    color: #686868;
    height: 4em;
    line-height: 4em;
    vertical-align: middle;
    width: 4em;
  }
  .skills-diagram .skill-2 {
    background-color: rgba(184, 184, 184, .3);
    color: #686868;
    height: 10em;
    line-height: 10em;
    vertical-align: bottom;  
    width: 10em;
  }

  .skills-diagram .skill-3 {
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 9em;
    line-height: 9em;
    vertical-align: top;
    width: 9em;
  }

  .skills-diagram .skill-4 {
    background-color: rgba(184, 184, 184, .3);
    color: #686868;
    height: 4em;
    line-height: 4em;
    vertical-align: middle;
    width: 4em;
  }

  .skills-diagram .skill-5 {
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 8em;
    line-height: 8em;
    vertical-align: top;
    width: 8em;
  }

  .skills-diagram .skill-6 {
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 10em;
    line-height: 10em;
    vertical-align: top;
    width: 10em;
  }

  .skills-diagram .skill-7 {
    background-color: rgba(1, 1, 1, .3);
    color: #686868;
    height: 5em;
    line-height: 5em;
    vertical-align: bottom;
    width: 5em;
  }

  .skills-diagram .skill-8 {
    background-color: rgba(1, 1, 1, .3);
    color: #686868;
    height: 8em;
    line-height: 8em;
    vertical-align: middle;
    width: 8em;
  }

  .skills-diagram .skill-9 {
    background-color: rgba(184, 184, 184,.3);
    color: #686868;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    width: 3em;
  }

  .skills-diagram .skill-10 {
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 7em;
    line-height: 7em;
    vertical-align: bottom;
    width: 7em;
  }

  .skills-diagram .skill-11 {
    background-color: rgba(184, 184, 184, .3);
    color: #686868;
    height: 7em;
    line-height: 7em;
    vertical-align: top;
    width: 7em;
  }

  .skills-diagram .skill-12{
    background-color: rgba(1, 1, 1,.3);
    color: #686868;
    height: 5em;
    line-height: 5em;
    vertical-align: top;
    width: 5em;
  }

  .skills-diagram .skill-13{
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 5em;
    line-height: 5em;
    vertical-align: middle;
    width: 5em;
  }
  .skills-diagram .skill-14{
    background-color: rgba(184, 184, 184,.3);
    color: #686868;
    height: 5em;
    line-height: 5em;
    vertical-align: middle; 
    width: 5em;
  }




  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width: 710px !important;
    padding-right: 320px;
  }

  .portfolio-grid{

    width:1030px;

  }

  .grid-hover, li.grid-item, li.grid-item img, li.grid-item-wide{
    width:312px !important;
  }

}


@media all and (max-width: 1179px) and (min-width: 1024px) {


  header.boxed .header-margin{
    width:800px;
  }

  .content .text-intro{
    width:800px;
  }

  .footer-margin{
    width:800px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:60%;
  }

  .vid1 iframe, .vid2 iframe{
    width: 400px;
    height: 225px;
  }

  #full{
    width:800px;
  }

  .prev-next{
    max-width:800px;
  }


  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width: 580px !important;
    padding-right: 250px;
  }

  .portfolio-grid{

    width:830px;

  }

  .grid-hover, li.grid-item, li.grid-item img{
    width:246px !important;
  }

}


@media all and (max-width: 1023px) and (min-width: 769px) {


  header.boxed .header-margin{
    width:600px;
  }

  .content .text-intro{
    width:600px;
  }

  .footer-margin{
    width:600px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:100%;
  }

  .two-column-right, .two-column-left, .two-column-intro, .two-column-intro p, .vid1, .vid2 {
    width:100% !important;
  }

  .vid1 iframe, .vid2 iframe{
    width: 600px;
    height: 337px;
  }

  #full{
    width:600px;
  }

  .prev-next{
    max-width:600px;
  }
  
  .home-sidebar{
    display:none;
  }
  
  ul.header-nav{
    width:50%;
  
  }
  
  header li > a{
    padding-right: 15px;
    padding-left: 15px;
  }
 


  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:630px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:630px;
  }

  .grid-hover, li.grid-item, li.grid-item img, li.grid-item-wide{
    width:282px !important;
  }

  li.grid-item-narrow{
    width:230px;
  }

  img.headshot{
    width: 200px;
    height: 200px;
  }

}



@media all and (max-width: 768px) and (min-width: 481px) {


  header.boxed .header-margin{
    width:400px;
  }

  .content .text-intro{
    width:400px;
  }

  .footer-margin{
    width:400px;
  }

  .content .text-intro h1, .content .text-intro p{
    width:100% !important;
  }

  #full{
    width:400px;
    display:block !important;
  }

  .menu-index{
    display:block !important;
  }

  .prev-next{
    max-width:400px;
  }
  
  .home-sidebar{
    display:none;
  }

  .clear iframe{
  height: 300px;
  }
  
  ul.header-nav{
    width:50%;
  
  }
  
  header li > a{
    padding-right: 15px;
    padding-left: 15px;
  }
 
  .one-column, .two-column, .two-column-right, .two-column-left, .two-column-intro, .vid1, .vid2{
    width:100% !important;
  }

  .vid1 iframe, .vid2 iframe{
    width: 400px;
    height: 225px;
  }

  
  .contact-one, .contact-two, .contact-three{
    width:100%;
  }
  
  textarea{
    height:250px;
  }

  input.button-submit{
    margin-bottom:100px;
  }
  
  .logo, .menu-index{
    display:block;
  }

  header.boxed{
    display:none !important;
  }  
  

  .skills-diagram .skill-1 {
    height: 4em;
    line-height: 4em;
    width: 4em;
  }

  .skills-diagram .skill-2 {
    height: 10em;
    line-height: 10em;
    width: 10em;
  }

  .skills-diagram .skill-3 {
    height: 9em;
    line-height: 9em;
    vertical-align: top;
    width: 9em;
  }

  #footer-left{text-align:center;}

  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:430px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:430px;
  }

  .grid-hover, li.grid-item, li.grid-item img, li.grid-item-wide{
    width:400px;
  }

  li.grid-item-narrow{
    width:180px;
  }

  img.headshot{
    width: 150px;
    height: 150px;
  }

}


@media all and (max-width: 480px) and (min-width: 320px) {


  header.boxed .header-margin{
    width:280px;
  }

  .content .text-intro{
    width:280px;
  }

  .footer-margin{
    width:280px;
  }
  
  .footer-margin .copyright{line-height:40px;}

  .content .text-intro h1, .content .text-intro p{
    width:100% !important;
  }

  #full{
    width:280px;
    display:block !important;
  }
  
  .menu-index{
    display:block !important;
  }

  .clear iframe{
    max-height: 260px !important;
    overflow:hidden;
  }

  .prev-next{
    max-width:280px;
  }
  
  .home-sidebar{
    display:none;
  }
 
  .one-column, .two-column, .two-column-right, .two-column-left, .two-column-intro, .vid1, .vid2{
    width:100% !important;
  }

  .vid1 iframe, .vid2 iframe{
    width: 280px;
    height: 157px;
  }
  
  .contact-one, .contact-two, .contact-three{
    width:100%;
  }
  
  textarea{
    height:250px;
  }
  
  input, textarea{
    padding:0;
  }

  input.button-submit{
    margin-bottom:100px;
  }
  
  header.boxed{
    display:none !important;
  }  
  
  #footer-left{text-align:center;}
  
  .content .text-intro h1{
    font-size:33px; 
    line-height:50px;
  }
    /*
  **************************
  Skill set
  **************************
  */
  .skills-diagram {
    font-size: 13px;
    /*margin: 2em auto;*/
    width:  100% !important;
  }
  .skills-diagram dt {
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    transform: scale(1.2);
  }

  .skills-diagram .skill-1 {
    background-color: rgba(1, 1, 1, .3);
    color: #686868;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    width: 3em;
  }
  .skills-diagram .skill-2 {
    background-color: rgba(184, 184, 184, .3);
    color: #686868;
    height: 9em;
    line-height: 9em;
    vertical-align: bottom;  
    width: 9em;
  }

  .skills-diagram .skill-3 {
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 9em;
    line-height: 9em;
    vertical-align: top;
    width: 9em;
  }

  .skills-diagram .skill-4 {
    background-color: rgba(184, 184, 184, .3);
    color: #686868;
    height: 4em;
    line-height: 4em;
    vertical-align: middle;
    width: 4em;
  }

  .skills-diagram .skill-5 {
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 8em;
    line-height: 8em;
    vertical-align: bottom;
    width: 8em;
  }

  .skills-diagram .skill-6 {
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 8em;
    line-height: 8em;
    vertical-align: top;
    width: 8em;
  }

  .skills-diagram .skill-7 {
    background-color: rgba(1, 1, 1, .3);
    color: #686868;
    height: 4em;
    line-height: 4em;
    vertical-align: bottom;
    width: 4em;
  }

  .skills-diagram .skill-8 {
    background-color: rgba(1, 1, 1, .3);
    color: #686868;
    height: 7em;
    line-height: 7em;
    vertical-align: middle;
    width: 7em;
  }

  .skills-diagram .skill-9 {
    background-color: rgba(184, 184, 184,.3);
    color: #686868;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    width: 3em;
  }

  .skills-diagram .skill-10 {
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 6em;
    line-height: 6em;
    vertical-align: bottom;
    width: 6em;
  }

  .skills-diagram .skill-11 {
    background-color: rgba(184, 184, 184, .3);
    color: #686868;
    height: 6em;
    line-height: 6em;
    vertical-align: top;
    width: 6em;
  }

  .skills-diagram .skill-12{
    background-color: rgba(1, 1, 1,.3);
    color: #686868;
    height: 5em;
    line-height: 5em;
    vertical-align: top;
    width: 5em;
  }

  .skills-diagram .skill-13{
    background-color: rgba(141, 141, 141, .3);
    color: #686868;
    height: 5em;
    line-height: 5em;
    vertical-align: middle;
    width: 5em;
  }
  .skills-diagram .skill-14{
    background-color: rgba(184, 184, 184,.3);
    color: #686868;
    height: 5em;
    line-height: 5em;
    vertical-align: middle; 
    width: 5em;
  }

  /*
  **************************
  Portfolio Grid
  **************************
  */

  #portfolio-sidebar{

    width:310px !important;
    padding-right: 0;
  }

  .portfolio-grid{
    width:310px;
  }

  .grid-hover, li.grid-item, li.grid-item img, li.grid-item-wide{
    width:280px !important;
  }

  li.grid-item-narrow{
    width: 260px;
  }

  img.headshot{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

}