---
layout: greyPageResources
---

<div class="container main individual">
	<!-- start of content -->
	<div class="section col-1">
		<h3>{{ page.issue }}</h3> 
		<div class="clear"></div>
		<p><strong>{{ page.artist_name }}<br>
		{{ page.organization_name }}</strong></p>
		<br>
	</div>
	<div class="section col-2-3">
		<div class="feature"><img alt="{{ page.artist_name }} and {{ page.organization_name }}" src="{{ page.image_path }}"></div> 
	</div>
	<div class="section col-4-5">
		<h1>{{ page.quote }}</h1><a href="https://twitter.com/intent/tweet?text=The%20U.S.%20has%205%25%20of%20the%20world%E2%80%99s%20population%2C%20and%2025%25%20of%20the%20world%E2%80%99s%20incarcerated.+%23Incarceration+%23SocialJustice&via=amplifyjustice"><button>Tweet this quote</button></a>
		<br>
		<br>
	</div>
	<div class="section col-2-5">
		<br>
		<h3>{{ page.main_entry }}</h3>
	</div>
	<div class="section col-2-3">
			<br>
		{{ page.left_p }}
			<br>
	</div>
	<div class="section col-4-5">
			<br>
		{{ page.right_p }}
			<br>
	</div>
		<br>
		<br>
		<br>

	<div class="section col-1-5">
		<div class="rule"></div>
	</div>
		<br>
	<div class="section col-1">
		<h3>Collaborators</h3>
		<div class="clear">
			<br>
		</div>
	</div>
	<div class="section col-2-3">
		<p><strong>{{ page.artist_name }}</strong></p>
			<br>
				{{ page.artist_bio }}
			<br>
		<div class="third">
			<br>
			<a href="{{ page.artist_url }}"><img alt="{{ page.artist_name }} photo" src="{{ page.artist_photo_url }}"></a>
		</div>
		<div class="clear">
			<br>
			<a href="{{ page.artist_url }}"><button>More about {{ page.artist_name_short }}</button></a>
		</div>
			<br>
			<br>
			<br>
	</div>
	<div class="section col-4-5">
		<p><strong>{{ page.organization_name }}</strong><br></p>
			<br>
				{{ page.organization_bio }}
			<br>
		<div class="clear">
			<br>
			<div class="half">
				<a href="{{ page.organization_url }}"><img alt="{{ page.organization_name }} logo" src="{{ page.organization_logo_url }}"></a>
			</div>
			<div class="clear">
				<br>
			</div><a href="{{ page.organization_url }}"><button>More about {{ page.organization_short_name }}</button></a>
		</div>
	</div>
		<br>
		<br>
		<br>
</div>
						

